.sidebar {
    background: var(--inverted-bg-color);
    width: var(--sidebar-width);
    position: relative;
    height: calc(100vh - var(--navbar-height));
    transition: 0.3s;
}

.switchers {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.lang-switcher {
    margin-left: 20px;
    color: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang-switcher {
        margin: 20px 0 0;
    }
}

.collapsed-btn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.link-text {
    margin-left: 10px;
}

.link-icon {
    display: flex;
    fill: var(--inverted-primary-color);
}
