.app.dark {
    --bg-color: #201e1e;
    --inverted-bg-color: #e5e5e5;

    --primary-color: #f0ecec;
    --inverted-primary-color: #1d0101;
    --secondary-color: #ff7cbd;
    --inverted-secondary-color: #5c0731;
}
