.app-dark-theme {
    --bg-color: #201e1e;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #f0ecec;
    --inverted-primary-color: #1d1b1b;
    --secondary-color: #dbc5c5;
    --inverted-secondary-color: #3a3535;
}
