.app.light {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #201e1e;

    --primary-color: #1d1b1b;
    --inverted-primary-color: #f7d5d5;
    --secondary-color: #5e5e5e;
    --inverted-secondary-color: #e59dc1;
}
