.button {
    color: var(--primary-color);
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    background: none;
}
